@font-face {
	font-family: "data_font";
	src: url("../fonts/data_font.otf");
}

@@font-face {
	font-family:"heading_font";
	src: url("../fonts/heading_font.otf");
}

body, html{
	height:100%;
	margin: 0px;
	padding: 0px;
}

#viewport{
	height:100%;
}


#index_background{

	background-image: url("../images/index.jpg");
	height: 100%;
	width: 100%;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/* filter: blur(7px); */
	position:fixed;
}

#index_2background{
	background-color: black;
	opacity: 0.35;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	position:fixed;
	height:100%;
	width: 100%;
}


#top_panel{
	position: absolute;
	width: 100%;
	height: 20%;
	font-family: data_font, helvetica, "Times New Roman", Arial;
}


.home{
		position: inherit;
		text-decoration: none;
		color: rgb(255,255,255);
		font-size: 20px;
		top:30%;
		left:3%;
		padding: 5px;
		transition: color 0.1s;
}

.home:hover{
	color: rgb(212, 212, 212);
}


.download_cv{
	position: inherit;
	text-decoration: none;
	top: 30%;
	right:3%;
	color: rgb(255,255,255);
	border: 1px solid white;
	padding: 10px 40px 10px 40px;
	transition-duration: 0.1s;
	transition-property: color, border-color, border-width, background-color;
	transition-timing-function: linear;
	text-align: justify;
	font-size: 15px;
}


.download_cv:hover{
	color:red;
	border-color: red;
	background-color: rgb(255,255,255);
}


#initials{
	position: absolute;
	width: 100%;
	height: 40%;
	top:20%;
	font-family: heading_font, helvetica, "Times New Roman", Arial;
	text-align:center;
}

#name{
	position: relative;
	top: 50%;
	width: 100%;
	font-size: 500%;
	text-align: center;
	letter-spacing: 5px;
	padding-bottom: 20px;

	font-weight: bold;
	color: rgb(255,255,255);
}

#alias{
	position: relative;
	top: 51%;
	text-transform: uppercase;
	font-size: 200%;
	color: rgba(0,0,0, 0.82);
	letter-spacing: 20px;
	display: inline-block;
	background-color: white;
	font-family: 'Courier New';
	padding-right:0px;
	font-weight: bold;
}

#profile_photo{
	position: relative;

	top: 72%;
	left: 42.63%;
	width: 200px;
	height: 200px;

	border-radius: 200px;
	border-color: white;
	border-style: solid;
	border-width: 6px;


	background-image: url("../images/profile_photo.png");
	background-position: center;
	background-size: cover;

	z-index: 2;

}

#info{

	opacity: 0;   /*change 1 to 0*/
 	position: absolute;
	top:84%;
	width: 100%;
	height: 70%;

	background-color: white;

	z-index: 1;

	/* transition-property: opacity;
	transition-duration: 2s; */

	font-family: data_font, "helvetica", Arial;

}

/* #info:hover{
	opacity:1;
} */

#left_arrow{
	background-image:url("../images/left_arrow.png");
	position: inherit;
	background-size: cover;
	background-position: center;
	top: 50%;
	left: 8%;
	width: 40px;
	height: 40px;
}

#right_arrow{
	background-image:url("../images/right_arrow.png");
	position: inherit;
	background-size: cover;
	background-position: center;
	top: 50%;
	right: 8%;
	width: 40px;
	height: 40px;
}

#detail_1{
	position: inherit;

	opacity: 1;
	z-index: 3;
	display: inline-block;
	top:30%;
	left: 15%;
	width:70%;

}


#About_me{
	width: 100%;
}

#About_me th{
	font-size: 265%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	padding-bottom: 40px;
}

#About_me td{
	font-size:125%;
	line-height: 125%;
}


#About_me th, #About_me td{
	padding-left: 0px;
	padding-right: 15px;
	width: 50%;
	text-align: left;
}

.red_line{
	position: relative;
	width:40px;
	height: 3px;
	background-color: red;
}


.connection_links div{
	display: inline-block;
}

.connection_links img{
	width: 24px;
	height: 24px;
}

#detail_2{
	position: inherit;

	display: inline-block;
	opacity: 0;
	z-index: 2;
	top:30%;
	left: 15%;
	width:70%;

}

.Exp{
	width: 100%;
}

.Exp .red_line{
	width: 50px;
}

#info .download_cv{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	border-style: solid;
	border-color: rgb(0,0,0);
	border-width: 1px;
	letter-spacing: normal;
	top: 5%;
}



.Exp th{
	padding-left: 0px;
	width: 50%;
	font-size: 265%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	padding-bottom: 40px;
	text-align: left;
}
.Exp td{
	padding-left: 0px;
	line-height: 125%;
	height: 50%;
	padding-right:20px;
}

.Description_heading{
	top: 0%;
	font-size: 125%;
	font-weight: bold;
}

#detail_3{
	position: inherit;

	display: inline-block;
	opacity: 0;
	z-index: 2;
	top:30%;
	left: 15%;
	width:70%;

}

#detail_4{
	position: inherit;

	display: inline-block;
	top:30%;
	left: 15%;
	width:70%;
	opacity: 0;
	z-index: 2;

}

.timeline{
	padding-bottom: 10px;
	padding-top: 3px;
}


#navigation{
	position: absolute;
	top:90%;
	left: 48%;
}

#info_1, #info_2, #info_3, #info_4{

	position: relative;
	display: inline-block;
	width: 4px;
	height: 4px;
	border-style: solid;
	border-radius: 4px;
	border-width: 2px;
	border-color: black;
	transform: scale(1);
}

#info_1{
	transform: scale(1.3);
}

#info .download_cv:hover{
	color:red;
	border-color: red;
	background-color: rgb(255,255,255);
}

#Skills{
	position: absolute;
	display: inline-block;
	top: 154%;
	width: 100%;
	height: 150%;
	font-family: data_font;
}

#skill_box{
	top:25%;
	position:inherit;
	width: 70%;
	left: 15%;
	height: 38%;

}
#skill_heading{

		font-size: 265%;
		letter-spacing: 3px;
		font-size: 265%;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 3px;
		color: rgb(255,255,255);
		left: 15%;
		top: 10%;
		position: absolute;
}

#skill_heading .red_line{
	background-color: rgb(255,255,255);
}
 #row_1,#row_2,#row_3{
	display: block;
}

.skill_name{
	font-size: 150%;
	font-weight:bolder;
	color: rgb(173,140,86);
}

.color_1,.color_2{
	display: inline-block;
	width:33%;
	float: left;
	height: 100%;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

.color_1 div{
	color:rgb(255,255,255);
}

.color_2 div{
	color: rgb(88, 88, 88);
}

.color_1 .skill_name{
	color: rgb(243, 197, 121);
}

.color_2 .skill_name{
	color: rgba(36, 49, 72, 0.83);
}
.color_1{
	background-color: rgba(36, 49, 72, 0.83);
}

.color_2{
	background-color: rgb(200,200,200);
}

#Contact{
	position: absolute;
	display: inline-block;
	top: 304%;
	width: 100%;
	height: 60%;
	font-family: data_font;
}

#quick_id,#contact_me{
	display: inline-block;
	width: 49.5%;
	/* border-style: solid; */
	height: 100%;
	float: left;
	position: relative;
}

#quick_id{
	background-color: rgba(36, 49, 72, 0.83);
}
#contact_me{
	background-color: rgb(200,200,200);
	width: 50.5%;
}
#quick_id_heading, #contact_me_heading{
	position: relative;
	font-size: 265%;
	font-size: 265%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	color: rgb(255,255,255);
	left: 15%;
}

#quick_id_heading .red_line, #contact_me_heading .red_line{
	width:50px;
}

#quick_id_heading, #quick_id_table{
	position: inherit;
	left: 30%;
	top: 10%;
}
#quick_id_table{
	margin-top: 10%;

	height: 50%;
	width: 40%;
	color: rgb(255,255,255);
}

#quick_id_table tr{
	height: 5%;
	padding-bottom: 5%;
}

#quick_id_table th,#quick_id_table td{
	font-size: 100%;
	letter-spacing: 1px;
	margin-top: 10%;
}

#quick_id_table th{
	padding-right: 5%;
	font-weight: bold;
	font-size:120%;
	letter-spacing: -1px;
}

#contact_me_heading{
	position: relative;
	top: 10%;
}
form{
	position: relative;
	top: 25%;
	left: 15%
}
#form_name, #form_email{
	display: inline-block;
	margin-bottom: 4%;
}
#form_message {
	display: block;
}

#form_subject{
	display: block;
}

input,textarea{
	background-color: rgb(200,200,200);
	border: none;
	border-bottom: 2px solid rgba(36, 49, 72, 0.6);
	font-size: 125%;
	padding-bottom: 2px;
	font-family: data_font;
	color: rgba(36, 49, 72, 0.9);
}
#send{
	color: rgba(36, 49, 72, 0.6);
	display: inline-block;
	border: none;
	cursor: pointer;
	margin-left: 32%;
}
::-webkit-input-placeholder{
	color: rgba(36, 49, 72, 0.6);
	font-family: data_font;
	font-size: 125%%;
	height: 100%;
	margin-bottom: 0px;
	display: inline-block;
	padding-top:10px;
	line-height: 0%;
}
input:focus,textarea:focus{
	outline:none;
}

#form_name{
	width: 30%;
	margin-right: 5%;
}
#form_email{
	width: 40%;
}
#form_subject{
	width: 75%;
	margin-bottom:4%;
}
#form_message{
	width: 75%;
	height: 10%;
	resize: none;
	rows: 5;
	margin-bottom: 2%;
}

#footer{
	width: 100%;
	position: absolute;
	top: 364%;
	height: 20%;
	background-color: rgb(255,255,255);
	font-family: data_font;
}

#footer .download_cv{
	border-color: rgb(0,0,0);
	display: inline-block;
	left: 20.5%;
	position: relative;
	color: rgb(0,0,0);
	padding: 15px 100px 15px 100px;
}

#footer .download_cv:hover{
	color:red;
	border-color: red;
	background-color: rgb(255,255,255);
}

#footer .connection_links{
	left: 40%;
	display: inline-block;
	position: relative;
	top: 42%;
}
.connection_links img{
	width: 32px;
	height: 32px;
}

#copy_right{
	display: inline-block;
	position: relative;
	top: 60%;
	left: -20%;
}

#follow_me{
	display: inline-block;
	position: relative;
		top: 60%;
		left: 1.5%;
}

#copy_right a{
	text-decoration: none;
	color: rgb(0,0,0);
}
