@font-face {
	font-family: "data_font";
	src: url("../fonts/data_font.otf");
}

@font-face {
	font-family:"heading_font";
	src: url("../fonts/heading_font.otf");
}
html {
	overflow-x: hidden;
}
body, html{
	min-width: 1080px;
	min-height: 400px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#viewport{
	min-width: inherit;
	height:100%;
	width: 100%;
}


#index_background{


	background-image: url("../images/index.jpg");
	height: 100%;
  width: 100%;

	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/* filter: blur(7px); */
	position:fixed;
}

#index_2background{
	background-color: black;
	opacity: 0.35;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	position:fixed;
	height:100%;
	width: 100%;
}


#top_panel{
	position: absolute;
	width: 100%;
	height: 20%;
	display: block;
	font-family: data_font, helvetica, "Times New Roman", Arial;
}


.home{
		position: inherit;
		text-decoration: none;
		color: rgb(255,255,255);
		font-size: 20px;
		top:30%;
		left:3%;
		width: 50px;
		padding: 5px;
		display:inline-block;
		transition: color 0.1s;
}


.home:hover{
	color: rgb(212, 212, 212);
}


.download_cv{
	position: inherit;
	text-decoration: none;
	text-align: center;
	display:inline-block;
	top: 30%;
	right: 3%;
	width: 250px;
	color: rgb(255,255,255);
	border: 1px solid white;
	padding: 10px 40px 10px 40px;
	transition-duration: 0.1s;
	transition-property: color, border-color, border-width, background-color;
	transition-timing-function: linear;
	font-size: 15px;
}
@media only screen and (max-width: 440px)
{
	.home{
		display: none;
	}
	.download_cv{

	}
}
@media only screen and (max-width: 300px)
{
	.download_cv{
		display: none;
	}
}
.download_cv:hover{
	color:red;
	border-color: red;
	background-color: rgb(255,255,255);
}


#initials{
	position: absolute;
	width: 100%;
	height: 40%;
	top:20%;
	font-family: heading_font, helvetica, "Times New Roman", Arial;
	text-align:center;

	display: flex;
	justify-content: center;
	align-items: center;
}


#name{

	position: inherit;
	top: 40%;
	width: 800px;
	font-size: 500%;
	text-align: center;
	letter-spacing: 5px;
	padding-bottom: 20px;
	font-weight: bold;
	color: rgb(255,255,255);
}

#alias{
	position: inherit;
	top: 20%;
	display: inline-block;
	padding:0px;
	font-weight: bold;
	width: 335px;
	background-color: white;
	font-family: 'Courier New';
	text-transform: uppercase;
	font-size: 200%;
	color: rgba(0,0,0, 0.82);
	letter-spacing: 20px;
}

@media only screen and (max-width: 800px){
	#name{
		width: 400px;
		font-size: 220%;
	}
}

@media only screen and (max-width: 400px){

#name,#alias{
		font-size: 200%;
		width: 200px;
		letter-spacing: normal;
	}
}

.profile_photo{

	position: absolute;
	width: 100%;

	top:75%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;

}
.profile_photo_border{

		border-radius: 200px;
		border-color: white;
		border-style: solid;
		border-width: 6px;
}

#info{

	opacity: 0;   /*change 1 to 0*/
 	position: absolute;
	top:84%;
	width: 100%;
	height: 70%;

	background-color: white;

	z-index: 1;

	font-family: data_font, "helvetica", Arial;


}
#info table{
		width: 900px;
}
#info th, td{

	text-align: justify;
}
#left_arrow{
	background-image:url("../images/left_arrow.png");
	position: inherit;
	background-size: cover;
	background-position: center;
	top: 50%;
	left: 8%;
	width: 40px;
	height: 40px;
	z-index: 4;
}

#right_arrow{
	background-image:url("../images/right_arrow.png");
	position: inherit;
	background-size: cover;
	background-position: center;
	top: 50%;
	right: 8%;
	width: 40px;
	height: 40px;
	z-index: 4;
}

@media only screen and (max-width: 1200px){
	#left_arrow,#right_arrow{
		top:90%;
	}
}
#detail_1, #detail_2, #detail_3, #detail_4{

	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 920px){

	.less_important_info{
		display: none;
	}
	#info table{
		width: 300px;
	}
}
#detail_1{
	position: inherit;
	opacity: 1;
	z-index: 3;
	top:30%;
	/* left: 15%; */
	width:100%;

}



#About_me{
	width: 100%;
	display: inline-block;

}

#About_me th{
	font-size: 265%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	padding-bottom: 40px;
}

#About_me td{
	font-size:125%;
	line-height: 125%;
}


#About_me th, #About_me td{
	padding-left: 0px;
	padding-right: 15px;
	width: 50%;
	text-align: left;
}

.red_line{
	position: relative;
	width:40px;
	height: 3px;
	background-color: red;
}


.connection_links div{
	display: inline-block;
}

.connection_links img{
	width: 24px;
	height: 24px;
}

#detail_2{
	position: inherit;

	opacity: 0;
	z-index: 2;
	top:30%;
	left: 15%;
	width:70%;

}

.Exp{
	width: 100%;
}

.Exp .red_line{
	width: 50px;
}

#info .download_cv{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	border-style: solid;
	border-color: rgb(0,0,0);
	border-width: 1px;
	letter-spacing: normal;
	top: 5%;
}



.Exp th{
	padding-left: 0px;
	width: 50%;
	font-size: 265%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	padding-bottom: 40px;
	text-align: left;
}
.Exp td{
	padding-left: 0px;
	line-height: 125%;
	height: 50%;
	padding-right:20px;
}

.Description_heading{
	top: 0%;
	font-size: 125%;
	font-weight: bold;
}

#detail_3{
	position: inherit;

	opacity: 0;
	z-index: 2;
	top:30%;
	left: 15%;
	width:70%;

}

#detail_4{
	position: inherit;

	top:30%;
	left: 15%;
	width:70%;
	opacity: 0;
	z-index: 2;

}

.timeline{
	padding-bottom: 10px;
	padding-top: 3px;
}


#navigation{
	position: absolute;
	top:90%;
	left: 48%;
}

#info_1, #info_2, #info_3, #info_4{

	position: relative;
	display: inline-block;
	width: 4px;
	height: 4px;
	border-style: solid;
	border-radius: 4px;
	border-width: 2px;
	border-color: black;
	transform: scale(1);
}

#info_1{
	transform: scale(1.3);
}

#info .download_cv:hover{
	color:red;
	border-color: red;
	background-color: rgb(255,255,255);
}

#Skills{
	position: absolute;
	/* display: inline-block; */
	top: 175%;
	width: 100%;
	height: 100%;
	font-family: data_font;
}

#skill_box{
	top:30%;
	position:inherit;

 	display: flex;
  align-items: center;
  justify-content: center;
	width: 100%;
	height:750px;

}

#skill_box table{
	top: 20%;
	display: inline-block;
	border-spacing: 0px;
	width: 100%;
}

#skill_box td {

		width:310px;
		height: 250px;
		text-align: center;
		vertical-align: middle;
		align-items: center;
		margin: 0px;
}
#skill_heading{

		font-size: 265%;
		letter-spacing: 3px;
		font-size: 265%;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 3px;
		color: rgb(255,255,255);
		left: 15%;
		top: 10%;
		position: inherit;
}

#skill_heading .red_line{
	background-color: rgb(255,255,255);

}
 /* #row_1 , #row_2, #row_3{
	display: inline-block;
	width: 930px;
} */

.skill_name{
	display: block;
	padding-top: 30%;
	font-size: 150%;
	font-weight:bolder;
	color: rgb(173,140,86);
}
.lang_img{
	width: 64px;
	height: 64px;
}

/* @media only screen and (max-width: 940px){
	.color_1, .color_2{
		float: none;
		display: block;
	}
} */
.color_1 div{
	color:rgb(255,255,255);
}

.color_2 div{
	color: rgb(88, 88, 88);
}

.color_1 .skill_name{
	color: rgb(243, 197, 121);
}

.color_2 .skill_name{
	color: rgba(36, 49, 72, 0.83);
}
.color_1{
	background-color: rgba(36, 49, 72, 0.83);
}

.color_2{
	background-color: rgb(200,200,200);
}

#Contact{
	position: absolute;
	display: inline-block;
	top: 304%;
	width: 100%;
	height: 60%;
	font-family: data_font;
}

#quick_id,#contact_me{
	display: inline-block;
	width: 49.5%;
	/* border-style: solid; */
	height: 100%;
	float: left;
	position: relative;
}

#quick_id{
	background-color: rgba(36, 49, 72, 0.83);
}
#contact_me{
	background-color: rgb(200,200,200);
	width: 50.5%;
}
#quick_id_heading, #contact_me_heading{
	position: relative;
	font-size: 265%;
	font-size: 265%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	color: rgb(255,255,255);
	left: 15%;
}

#quick_id_heading .red_line, #contact_me_heading .red_line{
	width:50px;
}

#quick_id_heading, #quick_id_table{
	position: inherit;
	left: 30%;
	top: 10%;
}
#quick_id_table{
	margin-top: 10%;

	height: 50%;
	width: 40%;
	color: rgb(255,255,255);
}

#quick_id_table tr{
	height: 5%;
	padding-bottom: 5%;
}

#quick_id_table th,#quick_id_table td{
	font-size: 100%;
	letter-spacing: 1px;
	margin-top: 10%;
}

#quick_id_table th{
	padding-right: 5%;
	font-weight: bold;
	font-size:120%;
	letter-spacing: -1px;
}

#contact_me_heading{
	position: relative;
	top: 10%;
}
form{
	position: relative;
	top: 25%;
	left: 15%
}
#form_name, #form_email{
	display: inline-block;
	margin-bottom: 4%;
}
#form_message {
	display: block;
}

#form_subject{
	display: block;
}

input,textarea{
	background-color: rgb(200,200,200);
	border: none;
	border-bottom: 2px solid rgba(36, 49, 72, 0.6);
	font-size: 125%;
	padding-bottom: 2px;
	font-family: data_font;
	color: rgba(36, 49, 72, 0.9);
}
#send{
	color: rgba(36, 49, 72, 0.6);
	display: inline-block;
	border: none;
	cursor: pointer;
	margin-left: 32%;
}
::-webkit-input-placeholder{
	color: rgba(36, 49, 72, 0.6);
	font-family: data_font;
	font-size: 125%%;
	height: 100%;
	margin-bottom: 0px;
	display: inline-block;
	padding-top:10px;
	line-height: 0%;
}
input:focus,textarea:focus{
	outline:none;
}

#form_name{
	width: 30%;
	margin-right: 5%;
}
#form_email{
	width: 40%;
}
#form_subject{
	width: 75%;
	margin-bottom:4%;
}
#form_message{
	width: 75%;
	height: 10%;
	resize: none;
	rows: 5;
	margin-bottom: 2%;
}

#footer{
	width: 100%;
	position: absolute;
	top: 364%;
	height: 20%;
	background-color: rgb(255,255,255);
	font-family: data_font;
}

#footer .download_cv{
	border-color: rgb(0,0,0);
	display: inline-block;
	left: 20.5%;
	position: relative;
	color: rgb(0,0,0);
	padding: 15px 100px 15px 100px;
}

#footer .download_cv:hover{
	color:red;
	border-color: red;
	background-color: rgb(255,255,255);
}

#footer .connection_links{
	left: 40%;
	display: inline-block;
	position: relative;
	top: 42%;
}
.connection_links img{
	width: 32px;
	height: 32px;
}

#copy_right{
	display: inline-block;
	position: relative;
	top: 60%;
	left: -20%;
}

#follow_me{
	display: inline-block;
	position: relative;
		top: 60%;
		left: 1.5%;
}

#copy_right a{
	text-decoration: none;
	color: rgb(0,0,0);
}
